name: Build and Deploy

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag Name'
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Create Release Tag
      run: git tag ${{ github.event.inputs.tag_name }} && git push origin ${{ github.event.inputs.tag_name }}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and Push Docker image
      run: |
        docker build -t testing/welcome:latest -t testing/welcome:${{ github.event.inputs.tag_name }} .
        echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        docker push testing/welcome:latest
        docker push testing/welcome:${{ github.event.inputs.tag_name }}
